.movie {
    background-color: #fff;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 10% 1fr 3fr 10%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: " . title  .     ."
        ". poster player ."
        ". poster player ."
        ". poster player ."
        ". poster player."
        ". descr details ."
        ". descr  details ."

    ;
}

.title {
    grid-area: title;
}

.title_wrapper {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    text-align: center;
    align-self: center;
    grid-area: player;
    max-width: auto;
}

.poster {
    grid-area: poster;

    object-fit: contain;

}

.poster img {
    max-width: 300px;
    max-height: 500px;

}

.details {

    grid-area: details;
}

.description {
    grid-area: descr;
}

.sub_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
}